:root {
    --background-color: #ffefda;
    --body-text-color: #201819;
    --primary-accent-color: #0043a5;
    --secondary-accent-color: #de1e35;
}

body {
    color: var(--body-text-color);
    background: var(--background-color);
    font-family: var(--var-lemon), var(--var-open-sans);
}

h1 {
    font-family: var(--var-lemon);
    color: var(--primary-accent-color);
}

h2 {
    font-family: var(--var-lemon);
    color: var(--secondary-accent-color);
}

h3 {
    font-family: var(--var-lemon);
    color: var(--body-text-color);
}

p {
    font-family: var(--var-open-sans);
    color: var(--body-text-color);
    line-height: 1.75em;
}

p em {
    font-family: var(--var-open-sans);
    color: var(--body-text-color);
    line-height: 1.75em;
}

p a {
    font-family: var(--var-open-sans);
    color: var(--body-text-color);
    font-style: italic;
}

/* https://stackoverflow.com/questions/1530685/how-can-i-keep-consistent-line-height-with-superscript-elements */
sup {
    vertical-align: top;
    position: relative;
    top: -0.5em;
}

p sup a {
    font-family: var(--var-open-sans);
    color: var(--body-text-color);
    font-style: normal;
    font-size: x-small;
}

li {
    font-family: var(--var-open-sans);
    color: var(--body-text-color);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    font-family: var(--var-open-sans);
}

td a {
    color: var(--primary-accent-color);
    font-style: oblique;
}

blockquote {
    border-left: 3px solid var(--body-text-color);
    padding-left: 16px;
    font-style: italic;
}

a.data-footnote-backref {
    font-style: normal;
    font-style: oblique;
    text-decoration: none;
    color: var(--primary-accent-color);
}

em {
    font-size: small;
    text-align: right;
}

img {
    width: 100%;
    border-radius: 16px;
}
